{% extends 'core/base.html' %} {% load static %} {% block content %}

<html>
	<head> </head>
	<body>
		<div class="content d-flex align-items-center justify-content-center">
            <hr />
			<div class="container">
                <h3 class="txt_gris_medio">Iniciar Sesion</h3>
				{% if form.errors %}
				<div class="alert alert-danger"><p>Tu usuario y contraseña no coinciden. Por Favor intenta otra vez</p></div>
				{% endif %}

				<form id="form-login" action="" method="post">
					{% csrf_token %}
					<div class="input-box" id="username">
						<label for="username">Nombre de usuario</label>
						{{ form.username }}
					</div>
					<div class="input-box" id="password">
						<label for="password">Contraseña</label>
						{{ form.password }}
					</div>
					<button id="btn" class="btn">Entrar</button>
					<div class="clearfix"></div>
				</form>
				<!-- <a href="/" class="txt-verde txt-center mt15 mb20" style="display: block">Aviso de privacidad</a> -->
			</div>
		</div>
	</body>
</html>

{% endblock %}
