{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
    {% endif %}
    <div class="txt_gris_medio">Listado de Usuarios</div>
    <div class="row justify-content-center p-4">
        <table border="1" class="table-padding">
            <tr>
                <td class="py-2"><a href="?order_by=username&order_dir={% if order_by == 'username' and order_dir != 'desc' %}desc{% else %}asc{% endif %}">Username</a></td>
                <td><a href="?order_by=first_name&order_dir={% if order_by == 'first_name' and order_dir != 'desc' %}desc{% else %}asc{% endif %}">First Name</a></td>
                <td><a href="?order_by=last_name&order_dir={% if order_by == 'last_name' and order_dir != 'desc' %}desc{% else %}asc{% endif %}">Last Name</a></td>
                <td><a href="?order_by=email&order_dir={% if order_by == 'email' and order_dir != 'desc' %}desc{% else %}asc{% endif %}">Email</a></td>
                <td><strong>Acciones</strong></td>
            </tr>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.username }}</td>
                <td>{{ usuario.first_name }}</td>
                <td>{{ usuario.last_name }}</td>
                <td>{{ usuario.email }}</td>
                <td class="sort-horizontally">
                    <a href="{% url 'modificar-usuario' usuario_id=usuario.id %}" class="btn half">Modificar</a>
                    <a href="{% url 'eliminar-usuario' usuario_id=usuario.id %}" class="btn half">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <a href="/form-usuario/" class="btn btn-primary">Agregar Usuario</a>
    </div>
</div>
{% endblock %}
